@font-face {
  font-family: kitypec;
  src: url(../fonts/KITYPEC_.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background: rgb(96, 0, 128);
}

.logo {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;

  #first {
    font-family: kitypec;
    color: #e19460;
  }
  #middle {
    font-family: kitypec;
    color: #00b0f0;
  }
  #last {
    font-family: kitypec;
    color: #87ba65;
  }
}
